.item {
    width: 100%;
    border: 1px solid var(--white);
    padding: 3rem;
    min-height: 50vh;
    height: auto;
    min-height: calc(100vh - 20rem);
    gap: 3rem;
}

.item-head {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-head .title {
    font-size: 5rem;
}

.back-btn {
    left: 0;
    position: absolute;
    background-color: var(--main-black);
    color: var(--yellow);
    border: 1px solid var(--yellow);
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.item-main {
    gap: 3rem;
}

.item-img {
  max-width: 50rem;
  height: 100%;
}

.item-content {
    gap: 2rem;
}

.tagline {
    gap: 1rem;
    align-items: center;
}

.tagline-img {
    width: 7rem;
}

.tagline-text {
    font-size: 4rem;
    color: var(--white);
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
}

.item-prop {
  font-size: 2.5rem;
  color: var(--white);
}

.item-prop span {
  text-transform: uppercase;
  font-weight: 900;
}

.check {
  border: 3px solid red;
}

.uncheck {
  border: 1px solid var(--white);
}