.hint {
    position: absolute;
    top:  0;
    right: 5rem;
}

.hint-logo {
    width: 4rem;
    background-color: var(--yellow);
    border-radius: 50%;
}

.hint-content {
    position: absolute;
    background-color: var(--white);
    padding: 2rem;
    gap: 2rem;
    font-size: 2rem;
    top: 5rem;
    right: 0;
    width: 40rem;
}

.hint-content span {
    background-color: var(--black);
    padding: .5rem;
    border-radius: .5rem;
    color: var(--yellow);
}

.none {
    display: none;
}

.visible {
    display: flex;
}