html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --main-black: #121212;
  --white: #EBEAE8;
  --yellow: #E0FD60;
  --black: #272727;
  --gray: #7C7C7C;
  --title-ff: 'Caprasimo';
}